<%- include('../partials/header') %>

    <form id="new-form" action="/talks" method="POST">
        <div class="form-section">
            <label class="form-label">Title
                <input class="form-control form-control-lg" type="text" name="title" required />
            </label>
        </div>
        
        <div class="form-section">
            <label class="form-label">Location
                <input class="form-control form-control-lg" type="text" name="location" />
            </label>
        </div>
        
        <div class="form-section">
            <label class="form-label">Description
                <textarea class="form-control form-control-lg" name="description" id="textarea" cols="50" rows="10"></textarea>
            </label>
        </div>

        <button type="submit" class="new-button btn btn-primary">Share!</button>

    </form>
    <p>
        <%= error %>
    </p>

    <%- include('../partials/footer') %>