<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrailTalks</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
        <a href="/">🥾</a> | 
        <a href="/talks" <%- title === 'All Talks' ? 'class="active"' : '' %>>ALL TALKS</a> | 
      <% if (user) { %>
        <a href="/talks/new" <%- title === 'Add Talk' ? 'class="active"' : '' %>>START A TALK</a> | 
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
      <% } %>
    </nav>
    <main>
      <h1><%= title %></h1>