html, body {
  background-color: #333333;
  color: ghostwhite;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: ghostwhite;
  height: 75px;
}

a {
  color: #00B7FF;
  font-weight: bolder;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: ghostwhite;
  color: #333333;
  width: 100%;
  margin: 0;
}

ul {
  width: 100%;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

button {
  background-color: ghostwhite;
  height: 25px;
  margin-left: 5px;
  border-radius: 7px;
  border: none;
}

img {
  height: auto;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  padding-top: 25px;;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.a-container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.home, .sub-a-container {
  margin: 25px;
}

.main-container {
  color: ghostwhite;
  font-size: 100px;
  border-radius: 8px;
}

.main-h2 {
  margin-bottom: 0;
}

.show-container {
  width: 100%;
}

.new-button {
  /* background-color: #00B7FF; */
  padding: 0;
  margin: 25px 0 0 0;
}

#new-form {
  display: flex;
  flex-direction: column;
}